* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    transition: 0.5s ease;
    position: absolute;
    width: 500px;
    left: calc(50% - 220px);
    bottom: calc(50% - 200px);
    background-color: #eeeeee;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.5em;
}
    


